export(geom_float, GeomFloat)
export(geom_floatbar, GeomFloatbar)
export(stat_diff, StatDiff)
import(ggplot2)
importFrom(scales,alpha)
importFrom(grid,unit)
importFrom(grid,makeContext)
importFrom(ggplot2,layer)
